<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-Hant">
<head>
<meta charset="UTF-8">
<title>Watch 編輯</title>

<th:block th:replace="~{./include/header :: headerContent}"></th:block>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script th:inline="javascript">
/*<![CDATA[*/
var watchId = [[${watchId}]];
var watch = null;

// 表單序列化為物件
$.fn.serializeObject = function () {
    var o = {};
    var a = this.serializeArray();
    $.each(a, function () {
        if (o[this.name]) {
            if (!o[this.name].push) o[this.name] = [o[this.name]];
            o[this.name].push(this.value || '');
        } else o[this.name] = this.value || '';
    });
    return o;
};

$(document).ready(function () {

    // 修改 Watch 名稱
    $("#updateWatch").on("click", function () {
        var jsonObj = $('#watchForm').serializeObject();
        $.ajax({
            url: "/portfolio/watch/" + watchId,
            type: "PUT",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(jsonObj),
            success: function () { loadWatchList(); },
            error: function() { alert("更新失敗"); }
        });
    });

    // 刪除觀察股
    $("#watchTable tbody").on("click", "button.deleteBtn", function () {
        var tstockId = $(this).closest('td').attr('tstock_id');
        if(confirm("是否要刪除？")) {
            $.ajax({
                url: "/portfolio/watch/" + watchId + "/remove/" + tstockId,
                type: "DELETE",
                success: function () { loadWatchList(); },
                error: function() { alert("刪除失敗"); }
            });
        }
    });

	// 新增觀察股
	$("#tstockTable tbody").on("click", "button.addBtn", function () {
	    var tstockId = $(this).closest('td').attr('tstock_id');
	    if(watch && watch.tStocks) {
	        for(var i=0;i<watch.tStocks.length;i++){
	            if(watch.tStocks[i].id == tstockId){
	                alert(watch.tStocks[i].name + ' 已加入！');
	                return;
	            }
	        }
	    }
	    if(confirm("是否要增加？")) {
	        $.ajax({
	            url: "/portfolio/watch/" + watchId + "/add/" + tstockId,
	            type: "POST",  // <- 改成 POST
	            success: function () { loadWatchList(); },
	            error: function() { alert("新增失敗"); }
	        });
	    }
	});


    // 初始化表格
    loadWatchList();
    loadTStockList();
});

// 載入 Watch 觀察股列表
function loadWatchList() {
	console.log("watchId======" ,watchId);
    $.get("/portfolio/watch/" + watchId, function(data) {
		console.log("data======" ,data);
        watch = data;
        $("#watchForm #id").val(data.id);
        $("#watchForm #name").val(data.name);
        $("#watchTable tbody").empty();
        data.tstocks.forEach(function(item) {
            var html = '<tr>' +
                '<td>' + item.id + '</td>' +
                '<td>' + item.name + '</td>' +
                '<td>' + item.symbol + '</td>' +
                '<td>' + item.classify.name + '</td>' +
                '<td tstock_id="' + item.id + '"><button class="btn btn-danger btn-sm deleteBtn">刪除</button></td>' +
                '</tr>';
            $("#watchTable tbody").append(html);
        });
    });
}

// 載入可新增的 TStock 列表
function loadTStockList() {
    $.get("/portfolio/tstock/", function(datas) {
		console.log("data2======" ,datas);
        $("#tstockTable tbody").empty();
        datas.forEach(function(item) {
            var html = '<tr>' +
                '<td>' + item.id + '</td>' +
                '<td>' + item.name + '</td>' +
                '<td>' + item.symbol + '</td>' +
                '<td>' + item.classify.name + '</td>' +
                '<td tstock_id="' + item.id + '"><button class="btn btn-success btn-sm addBtn">新增</button></td>' +
                '</tr>';
            $("#tstockTable tbody").append(html);
        });
    });
}
/*]]>*/
</script>
</head>
<body>
<th:block th:replace="~{./include/navbar :: navbar}"></th:block>

<div class="container mt-5">
    <h1>Watch 編輯</h1>
    <form id="watchForm">
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-10"><input id="id" name="id" readonly class="form-control"/></div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">名稱</label>
            <div class="col-sm-10"><input id="name" name="name" class="form-control"/></div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-10 offset-sm-2">
                <button id="updateWatch" type="button" class="btn btn-info">修改名稱</button>
            </div>
        </div>
    </form>

    <h2>我的觀察股</h2>
    <div class="row">
        <div class="col-md-6">
            <fieldset class="mb-4">
                <legend>Watch List</legend>
                <table id="watchTable" class="table table-striped table-hover table-bordered">
                    <thead><tr><th>id</th><th>name</th><th>symbol</th><th>classify</th><th>刪除</th></tr></thead>
                    <tbody></tbody>
                </table>
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset class="mb-4">
                <legend>TStock List</legend>
                <table id="tstockTable" class="table table-striped table-hover table-bordered">
                    <thead><tr><th>id</th><th>name</th><th>symbol</th><th>classify</th><th>新增</th></tr></thead>
                    <tbody></tbody>
                </table>
            </fieldset>
        </div>
    </div>
</div>

<th:block th:replace="~{./include/footer :: footer}"></th:block>
</body>
</html>
